<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{site.general.title}}</title>
		<link
			rel="icon"
			type="image/png"
			href="{{ '/images/favicon.svg' | relative_url }}"
		/>
		<link
			href="{{ '/assets/css/style.css' | relative_url }}"
			rel="stylesheet"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ url }}" />
		<script
			type="module"
			src="{{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js' | relative_url}}"
		></script>
		<script
			nomodule
			src="{{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js' | relative_url}}"
		></script>
	</head>
</html>
