// Colors
$primary: #ff8303;
$primary-dark: #ff5722;
$secondary: #f88379;
$black: #1c1c22;
$white: #f8f5f1;
$flash-success-bg: #84fc84;
$flash-success-fn: #0c3307;
$flash-error-bg: #fb6b69;
$flash-error-fn: #950503;
$shadow-color: rgba(44, 43, 43, 0.774);
$shadow-color-light: #636060;
$steel: #5c5a5a;
$dark-white: #c3bcb3;

// Links
$link-color: $primary;
$link-hover-color: lighten($primary, 10%);

@font-face {
	font-family: Goran;
	src: url(../fonts/KGoran.ttf);
}

@font-face {
	font-family: Righteus;
	src: url(../fonts/Righteous-Regular.ttf);
}

//fonts
$primary-text-font: "Goran";
$secondary-text-font: "Righteus";

// reset default styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dark-mode {
	background-color: lighten($black, 10%) !important;
}
.dark-mode-logo {
	@include d-shadow-light;
}

.dark-mode-link {
	&:hover {
		@include d-shadow-light;
	}
}

body {
	font-family: $primary-text-font;
	font-size: 1.2rem;
	color: $primary-dark;
	background: $white;
	max-height: 100%;
	width: 100%;
}

#logo {
	@include d-shadow;
	font-family: $secondary-text-font;
	font-size: 5rem;
	color: $primary;
	margin-bottom: 2rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	max-height: 70%;
	margin: 20% auto;
	text-align: center;
	height: fit-content;
}
h3 {
	font-size: 1.8rem;
}

a {
	color: $primary-dark;
	text-decoration: none;
	font-family: $secondary-text-font;
	&:hover {
		cursor: pointer;
		color: $primary;
		transition: all 0.4s ease-in-out;
	}
}

.btn {
	background-color: $primary-dark;
	color: $white;
	padding: 0.2em;
	&:hover {
		border: 2px solid $primary-dark;
		background-color: transparent;
		color: $primary-dark;
		transition: 0.5s all ease-in-out;
	}
}
