// Colors
$primary: #fd7014;
$secondary: #f88379;
$black: #222831;
$white: #eeeeee;
$flash-success-bg: #84fc84;
$flash-success-fn: #0c3307;
$flash-error-bg: #fb6b69;
$flash-error-fn: #950503;
$steel: #393e46;
$shadow-color: #2e2d2d;
//styles
$shadow: 0.01em 0.01em 0.5em 0.01em $shadow-color;

// Links
$link-color: $primary;
$link-hover-color: lighten($primary, 10%);

@font-face {
	font-family: Nrt;
	src: url(../fonts/NRT-Bd.ttf);
}

@font-face {
	font-family: Rudaw;
	src: url(../fonts/rudawbold.ttf);
}

@font-face {
	font-family: Rudaw_regular;
	src: url(../fonts/rudawregular2.ttf);
}

//fonts
$primary-text-font: "Rudaw";
$secondary-text-font: "Nrt";
$secondary-text-font-regular: "Rudaw_regular";

// reset default styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dark-mode {
	background-color: $black !important;
	color: $white !important;
	nav,
	footer {
		background-color: lighten($black, 3%) !important;
	}
	.topic {
		background-color: $steel;
	}
}

body {
	font-family: $primary-text-font;
	font-size: 1.2rem;
	color: $primary;
	background: $white;
	width: 100%;
	text-align: center;
}

#logo {
	@include d-shadow;
	font-family: $secondary-text-font;
	font-size: 5rem;
	color: $primary;
	margin-bottom: 2rem;
}

.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 90%;
	margin: 20vh auto;
}
h3 {
	font-size: 1.8rem;
}

a {
	color: $primary;
	text-decoration: none;
	font-family: $secondary-text-font;
	&:hover {
		cursor: pointer;
		color: $primary;
		transition: all 0.4s ease-in-out;
	}
}

.btn {
	background-color: $primary;
	color: $white;
	padding: 0.2em;
	border-radius: 0.5em;
	&:hover {
		border: 2px solid $primary;
		background-color: transparent;
		color: $primary;
		transition: 0.5s all ease-in-out;
	}
}

pre {
	margin: 0.3em auto;
	padding: 1em;
	text-align: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.9rem;
	background-color: lighten($black, 5%);
	color: $white;
}

.pop-out {
	box-shadow: $shadow;
	position: fixed;
	transition: all 0.4s ease-in-out;
}
.pop-in {
	box-shadow: none;
	position: relative;
	transition: all 0.4s ease-in-out;
}
