footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.2em;
	height: fit-content;
	bottom: 0;
	width: 100%;
	background-color: $white;
	button {
		display: none;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
	}
}
