.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: $shadow;
	margin-bottom: 1em;
	.nav-links {
		a {
			font-size: 1.2rem;
			margin: 1em;
			&:hover {
				color: darken($primary-dark, 15%);
				text-decoration: underline;
			}
		}
	}
}

.current-page-link {
	color: rgb(104, 103, 103);
}
.toogler {
	input {
		width: 4rem;
		height: 1rem;
		margin: .5rem;
		background: $black;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border-radius: 20px;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			height: .9rem;
			width: .9rem;
			border-radius: 50%;
			background: $primary;
			transform: translate(0.04rem, 0.1rem);
			transition: 0.3s linear;
		}
	}
}

.toogler-dark {
	background: $steel !important;
	&::after {
		inset: unset !important;
		background: $dark-white !important;
		transform: translate(3rem, 0.1rem) !important;
	}
}
