.topics {
	margin: 1em auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 85%;
	text-align: center;
	font-size: 1.2rem;
}

.topic {
	width: 25%;
	margin: 0.5em;
	box-shadow: $shadow;
	padding: 1em;
	border-radius: 1em;
	img {
		width: 50%;
	}
	.content {
		margin: 0.7em auto;
	}
}
