body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1.5rem;
}

.topic {
	width: 35%;
	margin: 0.5em;
	box-shadow: 0.1em 0.1em 0.5em 0.1em $shadow-color;
	padding: 1em;
	border-radius: 1em;
	img {
		width: 50%;
	}
	.content {
		margin: 0.7em auto;
	}
}
