<!DOCTYPE html>
  {%include head.html%}
<body id="body">
  <nav class="navbar">
    {%include header.html%}
  </nav>
  {%if page.id == "topics"%}
  {{content}}
  <div class="topics">
    {%for topic in site.data.topics%}
      <div class="topic">
        <h2>{{topic.title}}</h2>
          <div class="content">
            {%if topic.pic-url%}
          <img src="{{topic.pic-url | absolute_url}}" alt="{{topic.title}}" />
          {%endif%}
          <p>{{topic.description}}</p>
        </div>
        {%for page in site.pages%}
          {%if page.layout == "topic-page"%}  
            <a class="btn" href="{{ page.url | absolute_url }}">زیاتر بخوێنەوە</a>
          {%endif%}
        {%endfor%}
      </div>
    {%endfor%}
  </div>
  {%else%} {{content}} {%endif%}
  {%include footer.html%}
  {%include js-scripts.html%}
</body>
</html>