<!DOCTYPE html>
  {%include head.html%}
<body id="body">
  <nav>
    {%include header.html%}
  </nav>
  {%if page.id == "topics"%} {{content}} {%for topic in site.data.topics%}
  <div class="topic">
    <h2>{{topic.title}}</h2>
      <div class="content">
        {%if topic.pic-url%}
      <img src="{{topic.pic-url | absolute_url}}" alt="{{topic.title}}" />
      {%endif%}
      <p>{{topic.description}}</p>
    </div>
    <a class="btn" href="{{ topic.url | absolute_url }}">زیاتر بخوێنەوە</a>
  </div>
  {%endfor%} {%else%} {{content}} {%endif%}
  {%include footer.html%}
</body>
</html>